mixin range-slider()
  div.range-button__wrap
    h3.filter__title Диапазон цены
    p.range-button__price
      div#slider-non-linear-step-value
  div#slider
  p.range-button__text Стоимость за сутки пребывания в номере