@import "../../partials/__mixins.sass"
@import "../../partials/__tegs.sass"
@import "../../partials/__variables.sass"

.gallery
  display: grid
  grid-template-columns: 1fr 1fr
  height: 30.3125rem

  &__img_first
    background: url("../img/gallery-first.png") no-repeat right center
    width: 55.16rem
    min-height: 30.3125rem

  &__img_second
    background: url("../img/gallery-second.png") no-repeat center center
    width: 28.8125rem
    min-height: 15.1875rem

  &__img_third
    background: url("../img/gallery-third.png") no-repeat center center
    width: 28.8125rem
    min-height: 15.1875rem