include ../../components/headers/headers.pug
include ../../components/hamburger/hamburger.pug

block header
  header.header
    div.header__logo
    div.header__wrapper.js-header__wrapper
      +header("О нас", "Услуги", "Вакансии", "Новости", "Соглашения")
      form.header__buttons
        a(href="sign-in.html" class="header__button button__sign-in") Войти
        a(href="registration.html" class="header__button button__sign-up") Зарегистрироваться
    +hamburger()(class="hamburger js-hamburger")
