doctype html 
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="find hotel rooms")
    meta(name="keywords", content="metalamp, toxin, find hotel rooms")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title TOXIN
  body
    include ../landing-page/header/header-menu/header-menu.pug
    include filter-main/filter-main.pug
    include ../landing-page/footer/footer.pug