include ../../plugins/iqdropdown/iqdropdown.pug
include ../../text/text.pug

mixin book()
  form.book(action="#")
    div.book__wrap
      +text("h1", "book__title", "№")
      +text("h3", "book__number", "888")
      +text("h3", "book__luxury", "Люкс")
      +text("p", "book__price", "9 990₽")
      +text("span", "book__time", "в сутки")
    div.book__wrap.book__wrap_second
      div.book__wrapper.book__wrapper_spaced
        +text("h3", "book__title_small", "Прибытие")
        div.book__datepicker-wrap
          input(type="text" name="arrival" class="book__input js-datepicker_fifth" placeholder="19.08.2019" id="datepicker_fifth")
      div.book__wrapper
        +text("h3", "book__title_small", "Выезд")
        div.book__datepicker-wrap
          input(type="text" name="departure" class="book__input js-datepicker_sixth" placeholder="23.08.2019" id="datepicker_sixth")
    +text("h3", "book__title_small", "Гости")
    +iqdropdown("iqdropdown_fifth", "Взрослые", "Дети", "Младенцы")(class="iqdropdown js-iqdropdown_fifth")
      div(class="iqdropdown-menu-btn-wrap")
        a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear") Очистить
        a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm") Применить
    div.book__total
      div.book__total-main-wrap
        div.book__total-wrap
          +text("p", "book__text", "9 990₽ х 4 суток")
          +text("p", "book__total-price", "39 960₽")
        div.book__total-wrap
          +text("p", "book__text", "Сбор за услуги: скидка 2 179₽")
          +text("span", "book__information", "ⓘ")
          +text("p", "book__total-price", "0₽")
        div.book__total-wrap
          +text("p", "book__text", "Сбор за дополнительные услуги")
          +text("span", "book__information", "ⓘ")
          +text("p", "book__total-price", "300₽")
      div.book__total-price-wrap
        +text("p", "book__result", "Итого")
        div.book__line
        +text("p", "book__result", "38 081₽")
    button(type="submit" class="book__btn") Забронировать