@import "../../partials/__mixins.sass"
@import "../../partials/__variables.sass"

@import "filter-options/filter-options.sass"
@import "filter-result/filter-result.sass"

.filter-main
  border-bottom: 1px solid $light-blue

  &__wrap
    @include flex-between()
    @include container()
    padding-top: 1.8125rem
    padding-bottom: 4.375rem