@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"

@import "../../../components/buttons/buttons.sass"
@import "../../../components/plugins/plugins.sass"
@import "../../../components/bullet-list/bullet-list.sass"
@import "../../../components/comment/comment.sass"
@import "../../../components/feedback/feedback.sass"
@import "../../../components/inputs/regular-input/regular-input.sass"
// стили к инпутам
.elements
  background: #ffffff url('../../../assets/img/uikit/group.svg') no-repeat top left

.elements, .elements__filter, .elements__comments
  background-color: $white
  @include flex-between()
  @include container()
  padding-top: 8.9375rem

  &__filter
    padding-top: 7.9375rem

  &__description
    @include flex-between()
    font-size: $font-small

  &__info
    font-size: 0.85rem
    margin-bottom: 0.4875rem

  &__state
    margin-top: 0.01rem
    font-size: 0.85rem

    &:nth-child(2)
      letter-spacing: 0.033rem

  &__field
    @include input-style()
    margin-bottom: 1.4rem
    letter-spacing: 0.055rem
    padding: 0.9rem
    width: 23rem

    &-wrap
      position: relative

      &-datepicker
        position: relative

        &::after
          @include arrow()
          top: 1.2rem
          right: 1.1rem

        &_short
          position: relative
          margin-bottom: 3rem

          &::after
            @include arrow($right: 4.9rem)
            top: 1.3rem
            
    &-date
      @include input-style()
      width: 11.275rem
      border: 0.0625rem solid rgba(31, 32, 65, 0.25)
      border-radius: 0.31rem
      padding: 0.9125rem 0 0.9125rem 0.9375rem
      letter-spacing: 0.1rem

    &-filter
      letter-spacing: 0.04rem

    &-subscription
      letter-spacing: 0.12rem

    &-filter, &-subscription
      @include input-style()
      padding: 1rem 2.2rem 1rem 0.9rem
      width: 19.1rem

.input-arrow
  position: absolute
  top: 0.5rem
  right: 4.1rem
  cursor: pointer
  background-color: transparent
  border: none 

.material-symbols-outlined
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent
  font-weight: 700

.filter
  &__description
    display: flex
    justify-content: space-between
    margin-bottom: .3125rem
  
  &__info, &__state
    font-size: .85rem

.date-dropdown
  @include flex-between()
  margin-top: 2.5rem
  margin-bottom: 2.5rem

// стили для кнопок

// эллипсовые кнопки
.buttons
  margin-bottom: 2.5rem

  &__name
    font-size: 0.85rem
    margin-bottom: 1.5rem

.ellipse-buttons
  &__wrap
    display: flex
    margin-bottom: 1.8125rem

.other-buttons
  padding-right: 0.6rem

// пагинация
.pagination__name
  font-size: 0.85rem
  margin-bottom: 1.2rem

// dropdown с гостями
.guests
  margin-left: 6.5rem

  &__info
    margin-bottom: 0.4125rem
    font-size: .85rem

  &__field, .lists__field
    width: 20rem
    padding: 0.75rem 0 0.5rem 0.9375rem
    border-radius: 0.325rem
    border: 1px solid $light-blue
    margin-bottom: 6.125rem

  &__title
    font-size: .85rem
    margin-bottom: 1.4rem

  &__checkbox
    display: flex
    margin-bottom: 0.6875rem

  &__option-title
    color: $dark-blue
    font-weight: 700
    margin-bottom: 0.3125rem

  &__option-text
    color: $medium-blue
    max-width: 17rem

// dropdown и списки
.lists
  &__info
    font-size: .85rem
    margin-bottom: .3125rem

  &__form
    margin-left: 4.4375rem