extends ../../../layout/page.pug
block content
  include ../../../components/inputs/regular-input/regular-input.pug
  include ../../../components/plugins/iqdropdown/iqdropdown.pug
  include ../../../components/buttons/checkbox-button/checkbox-button.pug
  include ../../../components/buttons/radio-button/radio-button.pug
  include ../../../components/buttons/toggle-button/toggle-button.pug
  include ../../../components/buttons/like-button/like-button.pug
  include ../../../components/buttons/rate-button/rate-button.pug
  include ../../../components/plugins/range-slider/range-slider.pug
  include ../../../components/buttons/solid-button/solid-button.pug
  include ../../../components/buttons/transparent-button/transparent-button.pug
  include ../../../components/buttons/link-button/link-button.pug
  include ../../../components/buttons/solid-big-button/solid-big-button.pug
  include ../../../components/plugins/pagination/pagination.pug
  include ../../../components/buttons/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../../components/bullet-list/bullet-list.pug
  include ../../../components/comment/comment.pug
  include ../../../components/feedback/feedback.pug
  include ../../../components/text/text.pug

  // поля ввода
  div.elements
    form(action="#")
      div.elements__description
        +text("h3", "elements__info", "Text field")
        +text("p", "elements__state", "Default")
      input(type="email" name="e-mail" placeholder="Email").elements__field
      div.elements__description
        +text("h3", "elements__info", "Text field")
        +text("p", "elements__state", "Hover/Focus")
      input(type="text" name="text" placeholder="This is pretty awesome").elements__field
      +text("h3", "elements__info", "Dropdown")
      +iqdropdown("iqdropdown_first", "Взрослые", "Дети", "Младенцы")(class="iqdropdown js-iqdropdown_first")
        div(class="iqdropdown-menu-btn-wrap")
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear" id="iqdropdown-btn-clear") Очистить
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm" id="iqdropdown-btn-confirm") Применить
      +text("h3", "elements__info", "Masked Text Field")
      input(type="text" name="date" placeholder="ДД.ММ.ГГГГ" class="elements__field js-datepicker_first" data-position="right top" id="datepicker_first")
      div.date-dropdown
        div.date-dropdown_before
          +text("h3", "elements__info", "Date dropdown")
          div.elements__field-wrap-datepicker
            input(type="text" name="date" placeholder="ДД.ММ.ГГГГ" id="datepicker_second").elements__field-date.js-datepicker_second
        div.date-dropdown_after
          +text("h3", "elements__info", "Date dropdown")
          div.elements__field-wrap-datepicker
            input(type="text" name="date" placeholder="19.08.2019" id="datepicker_third").elements__field-date.js-datepicker_third
      +text("h3", "elements__info", "Filter date dropdown")
      div.elements__field-wrap-datepicker_short
        input(type="text" name="date" placeholder="19 авг - 23 авг" id="datepicker_fourth").elements__field-filter.js-datepicker_fourth
      +text("h3", "elements__info", "Subscription text field")
      div.elements__field-wrap
        +regular-input("email", "e-mail", "Email")(class="regular-input__field-subscription")
    // кнопки
    div.buttons
      form.buttons-checkbox
        +text("h3", "buttons-checkbox__name", "Checkbox buttons")
        +checkbox-button("Можно курить", "checkbox")(class="checkbox-button__title")
        +checkbox-button("Можно с питомцами", "checkbox-second")(class="checkbox-button__title")
        +checkbox-button("Можно пригласить гостей (до 10 человек)", "checkbox-third")(class="checkbox-button__title")
      form.buttons-radio
        +text("h3", "buttons-radio__name", "Radio buttons")
        div.buttons-radio__wrapper
          +radio-button("Мужчина", "human", "мужчина")
          +radio-button("Женщина", "human", "женщина")
      form.buttons-toggle
        +text("h3", "buttons-toggle__name", "Toggle")
        div.buttons-toggle__wrapper
          +toggle-button("toggle", "news")
          +toggle-button("toggle_second", "news-second")
      form.buttons-like
        +text("h3", "buttons-like__name", "Like button")
        div.buttons-like__wrapper
          +like-button("like-button js-like-button", "like-button__heart js-like-button__heart", "like-button__counter js-like-button__counter")
          +like-button("like-button_second-like-button js-like-button_second-like-button", "like-button__heart_second js-like-button__heart_second", "like-button__counter_second-like-button js-like-button__counter_second-like-button")
      form.buttons-rate
        +text("h3", "buttons-rate__name", "Rate button")
        div.buttons-rate__wrapper
          +rate-button()
          +rate-button()
    div.other-buttons
      div.range-button
        div.range-button__info
          +range-slider("range slider")
      // кнопки + пагинация
      form.buttons
        +text("h3", "buttons__name", "Buttons")
        div.ellipse-buttons
          div.ellipse-buttons__wrap
            +solid-button()
            +solid-button()
          div.ellipse-buttons__wrap
            +ellipse-button-transparent()
            +ellipse-button-transparent()
        +link-button()
        +solid-big-button()
      div.pagination-section
        +text("h3", "pagination-section__name", "Pagination")
        +pagination()
  // фильтры по поиску номеров
  div.elements__filter    
    div.filter
      div.filter__description
        +text("h3", "filter__info", "Dropdown")
        +text("p", "filter__state", "Default")
      form.filter__form
        +iqdropdown("iqdropdown_sixth", "Спальни", "Кровати", "Ванные комнаты")(class="iqdropdown js-iqdropdown_sixth")
      div.filter__description
        +text("h3", "filter__info", "Dropdown")
        +text("p", "filter__state", "Expanded")
      form.filter__form
        +iqdropdown("iqdropdown_seventh", "Спальни", "Кровати", "Ванные комнаты")(class="iqdropdown js-iqdropdown_seventh")
      form.filter__checkbox_expanded
        +expandable-checkbox-list("expandable-checkbox-list js-expandable-checkbox-list", "expandable checkbox list", "expandable-checkbox-list__checkbox-arrow_first js-expandable-checkbox-list__checkbox-arrow_first")(class="expandable-checkbox-list__checkbox expandable-checkbox-list__checkbox_first js-expandable-checkbox-list__checkbox_first")
        +expandable-checkbox-list("expandable-checkbox-list_second js-expandable-checkbox-list_second", "expandable checkbox list", "expandable-checkbox-list__checkbox-arrow_second js-expandable-checkbox-list__checkbox-arrow_second")(class="expandable-checkbox-list__checkbox expandable-checkbox-list__checkbox_second js-expandable-checkbox-list__checkbox_second")
    // dropdown с гостями
    form.guests
      +text("h3", "guests__info", "Dropdown")
      +iqdropdown("iqdropdown_second", "Взрослые", "Дети", "Младенцы")(class="iqdropdown js-iqdropdown_second")
        div(class="iqdropdown-menu-btn-wrap")
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear") Очистить
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm") Применить
      +text("h3", "guests__title", "Rich Checkbox Buttons")
      div.guests__checkbox-wrapper
        +checkbox-button("Широкий коридор", "checkbox-fourth", "Ширина коридоров в номере не менее 91 см.")(class="checkbox-button__title checkbox-button__title_bold")
        +checkbox-button("Помощник для инвалидов", "checkbox-fifth", "На 1 этаже вас встретит специалист и проводит до номера.")(class="checkbox-button__title checkbox-button__title_bold")
    // dropdown и списки
    form.lists__form
      div.lists
        +text("h3", "lists__info", "Dropdown")
        +iqdropdown("iqdropdown_third", "Взрослые", "Дети", "Младенцы")(class="iqdropdown js-iqdropdown_third")
          div(class="iqdropdown-menu-btn-wrap")
            a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear") Очистить
            a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm") Применить
        +text("h3", "lists__ttle", "Bullet list")
        +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
  // комментарии
  div.elements__comments
    div.comments
      +comment("Комфорт", "Шумопоглащающие стены")(class="comment__img")
      +comment("Удобство", "Окно в каждой из спален")(class="comment__img_second")
    +feedback("Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
