@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"

.ellipse-button-transparent
  @include flex-between()
  flex-flow: column
  padding: 15px 20px
  font-size: $font-small
  text-transform: uppercase
  font-weight: 700

  &:nth-child(1)
    margin-right: 19px

  &_transparented
    @include ellipse-button-style-transparent()

.ellipse-button-transparent_transparented:hover
  @include button-hover()