@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"

.ellipse-button-transparent
  @include flex-between()
  flex-flow: column
  padding: 15px 20px
  font-size: $font-small
  text-transform: uppercase
  font-weight: 700

  &_transparented
    @include ellipse-button-style-transparent()

    &:hover
      @include button-hover()