// mixins, variables
@mixin zeroOffset()
  margin: 0
  padding: 0

$flex-display: flex
$dark-blue: rgb(31, 32, 65)
$mediumSize: 1.18rem
// стили для тегов
body 
  @include zeroOffset()
  font-family: 'Montserrat'
  font-size: 0.87rem

div, p, form, input, a, span, button 
  box-sizing: border-box

p
  @include zeroOffset()

ul, li 
  display: block
  @include zeroOffset()

h1, h2, h3, h4, h5, h6 
  @include zeroOffset()
  font-weight: 700

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active 
  outline: none

input, input:hover, input:focus, input:active
  border: 1px solid rgba(31, 32, 65, 0.5)
  color: rgba(31, 32, 65, 0.5)


// стили для секции "цвета и шрифты"
.wrapper
  display: $flex-display
  justify-content: space-around
  padding-top: 9.06em

.logo
  background: #ffffff url('../img/logo.png') no-repeat top left

.color
  display: $flex-display
  align-items: center
  margin-bottom: 1.25em

.rectangle
  width: 4.37em
  height: 4.37em
  border-radius: 7%
  margin-right: 2.5em

  &_first
    background-color: rgba($dark-blue, 1)

  &_second
    background-color: rgba($dark-blue, 0.75)

  &_third
    background-color: rgba($dark-blue, 0.5)

  &_fourth
    background-color: rgba($dark-blue, 0.25)

  &_fifth
    background-color: rgba($dark-blue, 0.05)

  &_sixth
    background-color: rgba(188, 156, 207, 1)

  &_seventh
    background-color: rgba(111, 207, 151, 1)

.english-name
  // font-family: 'Montserrat-Bold'
  margin-bottom: 0.31em

.hex-name
  color: rgba($dark-blue, 1)

.english-name, .hex-name
  font-size: $mediumSize

.titles
  max-width: 34.68em

.title
  display: $flex-display
  align-items: flex-start
  margin-bottom: 3.18em

  &_first
    font-size: 1.5rem

  &_second
    font-size: $mediumSize

  &_third
    font-size: 0.75rem

  &_fourth
    font-size: 0.87rem

.title p
  line-height: 1.5em

.title span
  color: rgba($dark-blue, 0.25)

.title_first span
  margin-right: 1.6em

.title_second span
  margin-right: 2.25em

.title_third span
  margin-right: 3.98em

.title_fourth span
  margin-right: 2.25em