// переменные, миксины
$font-small: 0.75rem //12px
$purple: #BC9CFF
$light-blue: rgba(31, 32, 65, 0.25)
$medium-blue: rgba(31, 32, 65, 0.5)
$dark-blue: rgba(31, 32, 65, 0.75)
$pink: rgba(188, 156, 255, 1)

@mixin flex-between()
    display: flex
    justify-content: space-between

@mixin input-style()
    height: 2.75em
    border: 0.0625em solid $light-blue
    border-radius: 0.375em
    padding: 0.8125em 0 0.8125em 0.9375em

@mixin no-item()
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

@mixin button-style()
  font-weight: 700
  text-transform: uppercase
  border: none

@mixin ellipse-button-style-first()
  color: #ffffff
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%)
  border: none
  
@mixin ellipse-button-style-second()
  background-color: transparent
  color: $purple
  border: 2px solid #8BA4F9
// стили к инпутам
.elements, .elements__filter, .elements__comments
    display: flex
    justify-content: space-around
    padding-top: 8.9375em

    &__description
        @include flex-between()
        font-size: $font-small

    &__info
        font-size: $font-small
        margin-bottom: 0.3125em

    &__field
        width: 20em
        @include input-style()
        margin-bottom: 1.25em

.date-dropdown
  @include flex-between
  margin-top: 2.5em
  margin-bottom: 2.5625em

.elements__field-date
  width: 9.375em
  @include input-style()

.elements__field-filter, .elements__field-subscription
  width: 16.625em
  @include input-style()
  margin-bottom: 2.5625em

// стили для кнопок
  // checkbox
.checkbox-buttons
  margin-bottom: 2.5em
  &__name
    font-size: $font-small
    margin-bottom: 1.0625em

  &__item
    display: flex
    margin-bottom: 0.3125em

  &__field
    position: absolute
    z-index: -1
    opacity: 0

  &__option
    color: $medium-blue
    margin-left: 0.625em
    align-items: center
    display: flex

.checkbox-buttons__field:checked, 
.checkbox-buttons__field:not(:checked), 
.radio-buttons__field:checked, 
.radio-buttons__field:not(:checked) 
  position: absolute
  left: -9999px


.checkbox-buttons__field:checked + label, 
.checkbox-buttons__field:not(:checked) + label, 
.radio-buttons__field:checked + label, 
.radio-buttons__field:not(:checked) + label 
  display: inline-block
  position: relative
  padding-left: 28px
  line-height: 20px
  cursor: pointer

.checkbox-buttons__field:checked + label:before, 
.checkbox-buttons__field:not(:checked) + label:before,
.radio-buttons__field:checked + label:before, 
.radio-buttons__field:not(:checked) + label:before 
  content: ""
  position: absolute
  left: 0px
  top: 0px
  width: 18px
  height: 18px
  border: 1px solid #dddddd
  background-color: #ffffff

.checkbox-buttons__field:checked + label:before, 
.checkbox-buttons__field:not(:checked) + label:before 
  border-radius: 2px

.radio-buttons__field:checked + label:before, 
.radio-buttons__field:not(:checked) + label:before 
  border-radius: 100%
  
.checkbox-buttons__field:checked + label:after, 
.checkbox-buttons__field:not(:checked) + label:after, 
.radio-buttons__field:checked + label:after, 
.radio-buttons__field:not(:checked) + label:after 
  content: ""
  position: absolute
  -webkit-transition: all 0.2s ease
  -moz-transition: all 0.2s ease
  -o-transition: all 0.2s ease
  transition: all 0.2s ease

.checkbox-buttons__field:checked + label:after, 
.checkbox-buttons__field:not(:checked) + label:after 
  left: 3px
  top: 4px
  width: 10px
  height: 5px
  border-radius: 1px
  border-left: 4px solid $purple
  border-bottom: 4px solid #8BA4F9
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  -ms-transform: rotate(-45deg)
  transform: rotate(-45deg)

.radio-buttons__field:checked + label:after, 
.radio-buttons__field:not(:checked) + label:after 
  left: 5px
  top: 5px
  width: 10px
  height: 10px
  border-radius: 100%
  background-color: #e145a3

.checkbox-buttons__field:not(:checked) + label:after, 
.radio-buttons__field:not(:checked) + label:after 
  opacity: 0

.checkbox-buttons__field:checked + label:after, 
.radio-buttons__field:checked + label:after 
  opacity: 1

  // radio buttons
.radio-buttons
  margin-bottom: 2.3125em

  &__name
    font-size: $font-small
    margin-bottom: 1.0625em

.radio-buttons__field
  position: absolute
  z-index: -1
  opacity: 0

.radio-buttons__field + label 
  display: inline-flex
  align-items: center
  user-select: none
  color: $medium-blue

.radio-buttons__field + label::before 
  content: ''
  display: inline-block
  width: 1em
  height: 1em
  flex-shrink: 0
  flex-grow: 0
  border: 1px solid #adb5bd
  border-radius: 50%
  margin-right: 0.5em

.radio-buttons__field:checked + label::before 
  border-color: $purple
  background-color: $purple
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")

  // toggle buttons
.toggle-buttons
  margin-bottom: 2.75em

  &__wrap
    margin-bottom: 0.875em

  &__name
    font-size: $font-small
    margin-bottom: 1.0625em

.toggle-buttons__field 
  position: relative
  width: 2.5em
  height: 1.25em
  margin: 0
  vertical-align: top
  background: transparent
  border: 1px solid $light-blue
  border-radius: 1.875em
  outline: none
  cursor: pointer
  @include no-item()
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2)

.toggle-buttons__field::after 
  content: ""
  position: absolute
  left: 0.1875em
  top: 0.1575em
  width: 0.75em
  height: 0.75em
  background-color: $light-blue
  border-radius: 50%
  transform: translateX(0)
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2)

.toggle-buttons__field:checked::after 
  transform: translateX(calc(100% + 0.4375em))
  border-color: $purple
  background-color: $purple

.toggle-buttons__field:checked 
  border-color: $purple

.toggle__text
  color: $dark-blue
  margin-left: 0.625em

// like buttons
.like-buttons
  margin-bottom: 2.5em

  &__name
    font-size: $font-small
    margin-bottom: 1.0625em

.like-buttons__field
  width: 2.5em
  height: 1.25em
  @include no-item()
  border: 1px solid $light-blue
  font-size: 0.625rem
  border-radius: 0.625em

.like-buttons__field:hover
  border: 1px solid $pink
  color: $pink

// rate buttons 
.rate-buttons__wrapper
  @include flex-between()
  
.rate-buttons__name
  font-size: $font-small
  margin-bottom: 1.0625em

.rate-buttons__button
  @include no-item()
  border: none
  background-color: transparent
  font-size: 1.5rem
  color: $pink
  padding: 0

// слайдер
.range-button
  margin-bottom: 43px

  &__info
    @include flex-between()
    
  &__name
    font-size: $font-small
    margin-bottom: 1.4375em

  &__price
    font-size: $font-small
    color: $medium-blue

  &__slider
    width: 100%
    height: 0.375em
    border: 1px solid grey

// эллипсовые кнопки
.buttons
  margin-bottom: 2.5em

.buttons__name
  font-size: $font-small
  margin-bottom: 1em

.ellipse-buttons
  @include flex-between()
  flex-wrap: wrap
  margin-bottom: 1.9375em

.ellipse-buttons__button
  width: 6.1875em
  height: 2.75em
  border-radius: 1.375em
  font-size: $font-small
  text-transform: uppercase
  font-weight: 700

.ellipse-buttons_first, .ellipse-buttons_second
  @include ellipse-button-style-first()

.ellipse-buttons_second
  opacity: 0.5

.ellipse-buttons_third, .ellipse-buttons_fourth
  @include ellipse-button-style-second()

// кнопки-ссылки
.link-buttons
  margin-bottom: 2.0625em

.link-buttons__button
  font-size: $font-small
  @include button-style()
  background-color: transparent
  color: $medium-blue

.link-buttons_active
  color: $pink

.link-buttons__button:hover
  color: $pink

.button-payment
  width: 100%
  height: 2.75em
  border-radius: 1.375em
  @include button-style()
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%)
  font-size: $font-small
  color: #ffffff

// пагинация
.pagination__name
  font-size: $font-small
  margin-bottom: 1em

.pagination__pages
  margin-bottom: 0.625em

.pagination__info
  color: $dark-blue

// фильтры по поиску номеров
.filter__description
  @include flex-between()

.filter__info, .filter__state
  font-size: $font-small
  margin-bottom: 0.3125em

.filter__field
  width: 16.625em
  padding: 0.75em 0 0.5em 0.9375em
  border-radius: 0.325em
  border: 1px solid $light-blue

.filter__field_first
  margin-bottom: 1.25em

.filter__field_second
  margin-bottom: 3.375em

.filter__checkbox-title
  text-transform: uppercase
  font-size: $font-small
  margin-bottom: 3.0625em

.filter__field-option
  color: $medium-blue

// dropdown с гостями
.guests__info
  margin-bottom: 0.3125em
  font-size: $font-small

.guests__field, .lists__field
  width: 20em
  padding: 0.75em 0 0.5em 0.9375em
  border-radius: 0.325em
  border: 1px solid $light-blue
  margin-bottom: 6.125em

.guests__title
  font-size: $font-small
  margin-bottom: 1em

.guests__checkbox
  display: flex
  margin-bottom: 0.6875em

.guests__option-title
  color: $dark-blue
  font-weight: 700
  margin-bottom: 0.3125em

.guests__option-text
  color: $medium-blue

// dropdown и списки
.lists__bullet-title
  font-size: $font-small
  margin-bottom: 1em

.lists__bullet-item
  color: $dark-blue
  margin-bottom: 0.625em

// комментарии
.comment
  border-bottom: 1px solid rgba(31, 32, 65, 0.1)
  display: flex
  padding-bottom: 1.0625em

  &__title
    font-weight: 700
    margin-bottom: 0.4375em

  &__description
    color: $dark-blue

.feedback__info, .feedback__wrap
  display: flex

.feedback__username
  font-weight: 700
  margin-bottom: 0.4375em

.feedback__time, .feedback__text
  color: $dark-blue