@import "scss/fontawesome.scss"
@import "scss/brands.scss"
@import "partials/__mixins.sass"
@import "partials/__variables.sass"
@import "partials/__tegs.sass"

// headers
.headers
  background-color: #E5E5E5

.header
  @include flex-between()
  align-items: center
  background-color: $white
  margin-bottom: 2.5em 
  padding-top: 0.9375em
  padding-bottom: 0.9375em
  padding-left: 1.5625em
  padding-right: 1.5625em
  @include shadows()
    
  &__logo
    background: url('../img/logo-color.png') no-repeat top left
    height: 3em
    width: 7.925em

  &__wrapper
    display: flex
    align-items: baseline

.header__menu
  display: flex

.header__menu li
  margin-right: 1.25em

.header__item
  color: $medium-blue
  text-decoration: none

.header__item:hover
  color: $dark-blue
  font-weight: 700
  transition: all 0.2s ease

.header__button
  text-transform: uppercase

.button__sign-in
  background-color: transparent
  border: 2px solid #BC9CFF
  border-radius: 1.375em
  color: rgba(188, 156, 255, 1)
  font-weight: 700
  padding: 0.625em 1.25em
  margin-right: 1.25em

.button__sign-in:hover, .button__sign-up:hover
  opacity: 0.5
  transition: all 0.2s ease

.button__sign-up
  color: $white
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border: none
  border-radius: 1.375em
  font-weight: 700
  padding: 0.725em 1.35em

.header__username
  border-left: 1px solid $thin-blue
  color: $medium-blue
  padding-left: 1.25em

// footer
.footers
  margin-bottom: 3.125em

.footer
  background-color: $white
  margin-bottom: 2.5em
  padding-top: 6.5em
  padding-bottom: 1.625em
  padding-left: 1.5625em
  padding-right: 1.5625em
  @include shadows()

  &__nav
    border-bottom: 1px solid rgba(31, 32, 65, 0.05)
    @include flex-between()
    padding-bottom: 6.25em

  &__copyright
    @include flex-between()
    padding-top: 1.625em

  &__logo
    background: url('../img/logo-color.png') no-repeat top left
    height: 3em
    margin-bottom: 1.25em

  &__text
    color: $dark-blue
    max-width: 16.25em
    line-height: 1.5em

  &__wrap
    @include flex-between()
    flex-direction: column

  &__title
    font-size: 0.75rem

  &__item
    color: $medium-blue
    text-decoration: none

  &__input
    border: 1px solid rgba(31, 32, 65, 0.25)
    color: rgba(31, 32, 65, 0.25)
    padding: 0.75em 0 0.75em 0.9375em
    border-radius: 0.2em

  &__copy
    color: $dark-blue

.fab
  margin-right: 1.25em
  font-size: 1.5rem
  color: #BC9CFF 

.footer_center
  max-width: 48em
  margin: 0 auto
  text-align: center
  padding-bottom: 7.5em

.footer__text_center
  max-width: 35em
  margin: 0 auto
  margin-bottom: 1.5625em

.footer__logo_center
  background: url('../img/logo-color.png') no-repeat center center