.gallery
  height: 30.3125rem
  display: grid
  grid-template-columns: 55.125rem
  flex: 1 0 auto

  &__img_first
    background: url('../../../assets/img/website/gallery-first.jpeg') no-repeat right center
    background-size: cover
    width: 55.16rem
    min-height: 30.3125rem
    grid-column: 1
    grid-row-start: 1
    grid-row-end: 3

  &__img_second
    background: url('../../../assets/img/website/gallery-second.jpeg') no-repeat center center
    background-size: cover
    width: 35.8125rem
    min-height: 15.1875rem
    grid-column: 2
    grid-row: 1

  &__img_third
    background: url('../../../assets/img/website/gallery-third.jpeg') no-repeat center center
    background-size: cover
    width: 35.8125rem
    min-height: 15.1875rem
    grid-column: 2
    grid-row: 2

// responsive design
@media only screen and (max-width: 74.9988rem) //1199px
  .gallery
    height: 45.3125rem
    grid-template-columns: 1fr 1fr

    &__img_first
      grid-column-start: 1
      grid-column-end: 3
      grid-row: 1
      width: 100%
      background-size: cover

    &__img_second
      grid-column: 1
      grid-row: 2
      width: 100%
      background-size: cover

    &__img_third
      grid-column: 2
      grid-row: 2
      width: 100%
      background-size: cover

@media only screen and (max-width: 35.625rem) //570px
  .gallery
    min-height: 61.3125rem
    display: inherit