@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"
@import "../../../assets/fonts/fonts.sass"

.radio-button__field:checked, 
.radio-button__field:not(:checked) 
  position: absolute
  left: -9999px

.radio-button__field:checked + label, 
.radio-button__field:not(:checked) + label 
  display: inline-block
  position: relative
  padding-left: 29px
  line-height: 20px
  cursor: pointer
  margin-right: 1.0625rem

.radio-button__field:checked + label::before, 
.radio-button__field:not(:checked) + label::before 
  content: ''
  position: absolute
  left: 0px
  top: 0px
  width: 20px
  height: 20px
  border: 1px solid #dddddd
  background-color: rgba(255, 255, 255, 1)

.radio-button__field:checked + label::before, 
.radio-button__field:not(:checked) + label::before 
  border-radius: 100%
  
.radio-button__field:checked + label::after, 
.radio-button__field:not(:checked) + label::after 
  content: ''
  position: absolute
  transition: all 0.2s ease

.radio-button__field:checked + label::after, 
.radio-button__field:not(:checked) + label::after 
  left: .25rem
  top: .25rem
  width: 12px
  height: 12px
  border-radius: 100%
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

#female:checked + label::after,
#female:not(:checked) + label::after
  left: 0.3rem
  top: 0.3rem

#sex-f:checked + label::after,
#sex-f:not(:checked) + label::after
  left: 0.28rem
  top: 0.27rem

#male:checked + label::after,
#male:not(:checked) + label::after
  left: 0.3rem
  top: 0.3rem

.radio-button__field:not(:checked) + label::after 
  opacity: 0
 
.radio-button__field:checked + label::after 
  opacity: 1

.radio-button
  margin-bottom: 3em

  &__name
    font-size: $font-small
    margin-bottom: 1.1625rem

  &__field
    position: absolute
    z-index: -1
    opacity: 0

.radio-button__field + label 
  display: inline-flex
  align-items: center
  user-select: none
  color: $medium-blue

.radio-button__field + label::before 
  content: ''
  display: inline-block
  width: 1em
  height: 1em
  flex-shrink: 0
  flex-grow: 0
  border: 1px solid #adb5bd
  border-radius: 50%
  margin-right: 0.5em

.radio-button__field:checked + label::before 
  border: 1px solid $purple
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")