@font-face
    font-family: Montserrat
    src: url('./montserrat/montserrat.woff2'), url('./montserrat/montserrat-regular.woff'), url('./montserrat/montserrat-regular.ttf'), url('./montserrat/montserrat-regular.eot')
    font-weight: 400
    font-style: normal

@font-face
    font-family: "Montserrat Bold"
    src: url('./montserrat/montserrat-bold.woff2'), url('./montserrat/montserrat-bold.woff'), url('./montserrat/montserrat-bold.ttf'), url('./montserrat/montserrat-bold.eot')
    font-weight: 700
    font-style: normal