mixin fontawesome()
  a(href="https://www.twitter.com")
    i(class="fab fa-twitter")
  a(href="https://www.facebook.com")
    i(class="fab fa-facebook-square")
  a(href="https://www.instagram.com")
    i(class="fab fa-instagram")