@import "../../../../assets/styles/__mixins.sass"
@import "../../../../assets/styles/__variables.sass"

@import "filter-options/filter-options.sass"
@import "filter-result/filter-result.sass"

.filter-main
  border-bottom: 1px solid $light-blue
  flex: 1 0 auto

  &__wrap
    @include container()
    padding-top: 2.3rem
    padding-bottom: 78px
    display: grid
    grid-template-columns: 1fr 1fr
    max-width: 1362px

// responsive design

@media only screen and (max-width: 1199px) //1199px
  .filter
    &-main__wrap
      padding: 0 calc(50% - 30rem)
      padding-top: 29px
      padding-bottom: 78px

@media only screen and (max-width: 970px) //970px
  .filter
    &-main__wrap
      padding: 0 calc(50% - 27.5rem)
      padding-top: 29px
      padding-bottom: 78px

@media only screen and (max-width: 892px) //892px 
  .filter
    &-main__wrap
      padding: 0 calc(50% - 25rem)
      padding-top: 29px
      padding-bottom: 78px
      grid-template-columns: 1fr

@media only screen and (max-width: 830px) //830px
  .filter
    &-main__wrap
      padding: 0 calc(50% - 22rem)
      padding-top: 29px
      padding-bottom: 78px

@media only screen and (max-width: 730px) //730px
  .filter
    &-main__wrap
      padding: 0 calc(50% - 19rem)
      padding-top: 29px
      padding-bottom: 78px

@media only screen and (max-width: 630px) //630px
  .filter
    &-main__wrap
      padding: 0 calc(50% - 17rem)
      padding-top: 29px
      padding-bottom: 78px

@media only screen and (max-width: 570px) //570px
  .filter
    &-main__wrap
      padding: 0 calc(50% - 15rem)
      padding-top: 29px
      padding-bottom: 78px

@media only screen and (max-width: 470px) //470px
  .filter
    &-main__wrap
      padding: 0 calc(50% - 8rem)
      padding-top: 29px
      padding-bottom: 78px
      grid-template-columns: 1fr