@import "../../assets/styles/__mixins.sass"
@import "../../assets/styles/__variables.sass"
@import "../../assets/styles/__tegs.sass"

.info
  display: flex
  align-items: center
  padding-bottom: 1.1625em

  &__title
    font-weight: 700
    margin-bottom: 0.4375em
    font-size: .875rem
    text-transform: none

  &__description
    color: $dark-blue

  &__border
    height: .0625rem
    background-color: rgba(31, 32, 65, 0.1)
    width: 17.5rem
    margin-bottom: 1rem

  &__img
    background: url('../../../assets/img/website/insert-emoticon.svg') no-repeat center center
    width: 3.8em
    height: 4em
    margin-right: 0.625em

  &__img_second
    background: url('../../../assets/img/website/location-city.svg') no-repeat center center
    width: 3.8em
    height: 4em
    margin-right: 0.625em

  &__img_third
    background: url('../../../assets/img/website/whatshot.svg') no-repeat center center
    width: 3.8em
    height: 4em
    margin-right: 0.625em