include ../text/text.pug

mixin info(title, description)
  div.info
    div(class!=attributes.class)
    div.info__wrap
      +text("h3", "info__title", title)
      +text("p", "info__description", description)
  div.info__border