extends ../../../layout/page.pug
block content
  include ../../../layout/header/header.pug
  include room-details-gallery/room-details-gallery.pug
  include room-details-main/room-details-main.pug
  include ../../../layout/footer/footer.pug