meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='description', content='Ui-kit')
meta(name='keywords', content='metalamp, toxin, ui-kit')
//- link(href="dist/css/datepicker.min.css" type="text/css")
//- link(href="../../sass/item-quantity-dropdown.min.css" type="text/css")
link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
//- script(src="dist/js/datepicker.min.js")
script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
title TOXIN