@import "../partials/__mixins.sass"
@import "../partials/__variables.sass"
@import "../partials/__tegs.sass"
@import "../components/radio-button.sass"
@import "../components/toggle-button.sass"
@import "../components/rate-button.sass"

.cards
  @include container()
  display: flex
  flex-wrap: wrap
  background-color: $grey
  padding-top: 9.375em
  margin-bottom: 8.75em
  background: url('../img/Group.svg') no-repeat top left

.rooms, .registration, .book, .sign-in
  background-color: $white
  border-radius: 0.25em
  padding: 2.9em 1em 1.875em 2em
  @include shadows-wide()
// rooms card
.rooms
  margin-right: 3em
  margin-bottom: 2.5em
  max-height: 26.775em
  max-width: 27.1em
  order: 0

  &__title
    font-size: $big-size
    max-width: 14em
    margin-bottom: 0.85em
    text-transform: none

  &__wrapper
    display: flex
    margin-bottom: 1.45em

  &__wrap:nth-child(1)
    margin-right: 1.4em

  &__info
    font-size: $font-small
    margin-bottom: 0.4125em

  &__date
    border-radius: 0.25em
    max-width: 9.375em
    height: 2.75em
    padding-left: 0.9375em
    border: 1px solid $light-blue

  &__guests-input
    border-radius: 0.25em
    width: 100%
    height: 2.75em
    padding-left: 0.9375em
    margin-bottom: 1.9375em
    border: 1px solid $light-blue

  &__btn
    width: 20rem
    border-radius: 1.775em
    @include button-style()
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%)
    font-size: $font-small
    color: $white
    position: relative
    height: 3.7em
    margin-bottom: .375rem
    letter-spacing: 0.06em

    &::after
      @include arrow-right($color: #ffffff)
      margin-bottom: .3125rem

    &:hover
      @include button-hover()

  &__datepicker-wrap
    position: relative

    &::after
      @include arrow($right: 0.8em)

// registration card
.registration
  margin-right: 2.5em
  margin-bottom: 2.5em
  width: 25.75em
  height: 40.375em
  order: 1

  &__title
    font-size: $big-size
    margin-bottom: 1.25em
    text-transform: none

  &__info
    margin-bottom: 0.625em

  &__input
    border-radius: 0.25em
    width: 100%
    height: 2.75em
    padding-left: 0.9375em
    margin-bottom: 0.625em
    border: 1px solid $light-blue

  &__username
    margin-bottom: 1.5em

  &__birth-title
    font-size: $font-small
    margin-bottom: 0.3125em

  &__datepick
    border-radius: 0.25em
    width: 100%
    height: 2.75em
    padding-left: 0.9375em
    margin-bottom: 0.625em
    border: 1px solid $light-blue

  &__data-title
    font-size: $font-small
    margin-bottom: 0.3125em

  &__wrap
    display: flex
    align-items: center
    margin-bottom: 1.5em

  &__btn
    width: 100%
    height: 3.2em
    @include ellipse-button-style-solid()
    @include button-style()
    font-size: $font-small
    margin-bottom: 1.875em
    position: relative

    &::after
      @include arrow-right($color: #ffffff)

    &:hover
      @include button-hover()

  &_exist
    @include flex-between()
    align-items: center

  &__btn_sign-in
    width: 6.1875em
    height: 2.75em
    font-size: $font-small
    text-transform: uppercase
    @include ellipse-button-style-transparent()

    &:hover
      @include button-hover()

.male
  margin-right: 1.25em

// book
.book
  margin-right: 2.5rem
  margin-bottom: 2.5em
  width: 27.2em
  max-height: 36.9em
  order: 0

  &__wrap
    display: flex
    margin-bottom: 1.5em
    align-items: flex-end

  &__wrapper:nth-child(1)
    margin-right: 1.25rem

  &__title
    font-size: .875rem
    margin-right: 7.4em

    span:nth-child(1)
      font-size: 1.5rem
      margin-left: 0.2em

    span:nth-child(2)
      font-size: $font-small
      color: $purple
      margin-left: 0.7em

  &__price
    color: $medium-blue
    font-weight: 700

    span
      margin-left: 0.189em
      font-size: $font-small
      font-weight: 400

  &__wrap:nth-child(2)
    display: flex
    align-items: center

  &__title_small
    font-size: $font-small
    margin-bottom: 0.45em

  &__input
    width: 9.375em
    height: 2.75em
    padding-left: 0.9375em
    border-radius: 0.25em
    border: 1px solid $light-blue

    &_guests
      width: 100%
      margin-bottom: 1.3125em

  &__text
    width: 16em

    span
      color: $light-blue
  
  &__total
    width: 23.2em

    &-wrap
      display: flex
      justify-content: space-between
      margin-bottom: 1.05rem

    &-price-wrap
      display: flex
      justify-content: space-between
      align-items: flex-end
      margin-bottom: 1.3125rem

    &-main-wrap
      margin-bottom: 2.1875rem

  &__text
    display: flex
    width: 17.4em
    line-height: 1

    span
      font-size: 1.25rem
      margin-left: .5625rem

  &__text, &__total-price
    color: $dark-blue

  &__result
    font-weight: 700
    font-size: 1.188rem

  &__btn
    width: 20rem
    border-radius: 1.775em
    @include button-style()
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%)
    font-size: $font-small
    color: $white
    position: relative
    height: 3.7em
    margin-bottom: .375rem
    letter-spacing: 0.06em

    &::after
      @include arrow-right($color: #ffffff)
      margin-bottom: .3125rem

    &:hover
      @include button-hover()

  &__line
    background-color: $light-blue
    height: 1px
    width: 42%

  &__datepicker-wrap
    position: relative

    &::after
      @include arrow($right: 0.8em)
      
// sign-in card
.sign-in
  margin-right: 2.5em
  width: 23.75em
  height: 22.375em
  order: 1

  &__title
    font-size: $big-size
    margin-bottom: 1.3125em
    text-transform: none

  &__input
    border-radius: 0.25em
    width: 100%
    height: 2.75em
    padding-left: 0.9375em
    margin-bottom: 0.625em
    border: 1px solid $light-blue

  &__input_second
    margin-bottom: 1.25em

  &__btn
    width: 100%
    height: 3.2em
    @include button-style()
    @include ellipse-button-style-solid()
    font-size: $font-small
    margin-bottom: 1.875em
    position: relative

    &::after
      @include arrow-right($color: #ffffff)

    &:hover
      @include button-hover()

  &__wrap
    @include flex-between()
    align-items: center

  &__btn_sign-up
    width: 6.1875em
    height: 2.75em
    font-size: $font-small
    text-transform: uppercase
    @include ellipse-button-style-transparent()

    &:hover
      @include button-hover()

// luxury room card
.luxury-room, .usual-room
  background-color: $white
  border-radius: 0.25em
  width: 19em
  height: 19.5em
  order: 2
  @include shadows-wide()

.luxury-room
  margin: 0 2.5em

  &__img
    background: url('../img/room-luxury.png') no-repeat center center
    height: 10.9em
    width: 19em

  &__wrap
    margin-top: 1.25em
    @include flex-between()
    align-items: baseline
    padding: 0 1.25em 1.25em 1.25em
  
  &__wrap_border
    border-bottom: 1px solid $thin-blue
    padding-bottom: 0.625em

  &__title
    font-size: $big-size

    span
      font-size: $font-small
      color: $purple
      margin-left: 0.5em

  &__price
    color: $medium-blue
    font-weight: 700

    span
      margin-left: 0.189em
      font-size: $font-small
      font-weight: 400
    
  &__comments
    color: $medium-blue
    font-weight: 700

    span
      margin-left: 0.189em
      font-size: $font-small
      font-weight: 400

// usual room card
.usual-room__img
  background: url('../img/room.png') no-repeat center center
  height: 9.5rem
  width: 16.9375rem

.usual-room__wrap
  @include flex-between()
  align-items: center
  margin-top: 1.25em
  padding: 0 1.25em 1.25em 1.25em

  &_border
    border-bottom: 1px solid rgba(31, 32, 65, 0.1)
    padding-bottom: 0.625em

.usual-room__title
  font-size: $big-size

.usual-room__price
  color: $medium-blue
  font-weight: 700

  span
    margin-left: 0.189em
    font-size: $font-small
    font-weight: 400

.usual-room__comments
  color: $medium-blue
  font-weight: 700

  span
    margin-left: 0.189em
    font-size: $font-small
    font-weight: 400