@import "../partials/__mixins.sass"
@import "../partials/__variables.sass"
@import "../partials/__tegs.sass"
// стили для секции "цвета и шрифты"
.wrapper
  @include flex-between()
  @include container()
  padding-top: 9.06em

.logo
  background: #ffffff url('../img/Group.svg') no-repeat top left

.colors
  display: flex
  flex-direction: column
  justify-content: space-between

.color
  display: $flex-display
  align-items: center
  margin-bottom: 1.39em

.rectangle
  width: 5em
  height: 5em
  border-radius: 7%
  margin-right: 2.9em

  &_first
    background-color: rgba($dark-blue, 1)

  &_second
    background-color: rgba($dark-blue, 0.75)

  &_third
    background-color: rgba($dark-blue, 0.5)

  &_fourth
    background-color: rgba($dark-blue, 0.25)

  &_fifth
    background-color: rgba($dark-blue, 0.05)

  &_sixth
    background-color: rgba(188, 156, 207, 1)

  &_seventh
    background-color: rgba(111, 207, 151, 1)

.english-name
  margin-bottom: 0.31em

.hex-name
  color: rgba($dark-blue, 1)

.english-name, .hex-name
  font-size: $mediumSize
  text-transform: none

.titles
  max-width: 36.9em

.title
  display: $flex-display
  align-items: flex-start
  margin-bottom: 3.125rem

  &_first
    font-size: .75rem

    span
      margin-right: 1.4em
      font-size: 1.375rem

  &_second
    font-size: $mediumSize

    span
      margin-right: 1.7em

  &_third
    font-size: 0.75rem

    span
      margin-right: 3.4em

  &_fourth
    font-size: 0.87rem

    span
      margin-right: 1.5em

  p
    line-height: 1.5em
    max-width: 18.8125rem

  span
    color: rgba($dark-blue, 0.25)

  h1, h2
    text-transform: none

  h2
    font-size: 1.1875rem
    max-width: 19.5rem

  h3
    font-size: .75rem