mixin rate-button(name)
  //- input(type="radio" name=name id=id)
  //- label(for=id)
  //-   svg.star
  //-     use(xlink:href=href)
  label(class="rate-button__wrap js-rate-button__wrap")
    input(type="checkbox" name=name).rate-button__star
    span(class="material-icons material-icons_border js-material-icons_border") star_border
    span(class="material-icons material-icons_filled js-material-icon_filled") star
