mixin rate-button()
  div.rate-button
    div(class="rate-button__wrap js-rate-button__wrap")
      button(class="material-icons material-icons_border js-material-icons_border") star_border
      button(class="material-icons material-icons_filled js-material-icon_filled") star
    div(class="rate-button__wrap js-rate-button__wrap")
      button(class="material-icons material-icons_border js-material-icons_border") star_border
      button(class="material-icons material-icons_filled js-material-icon_filled") star
    div(class="rate-button__wrap js-rate-button__wrap")
      button(class="material-icons material-icons_border js-material-icons_border") star_border
      button(class="material-icons material-icons_filled js-material-icon_filled") star
    div(class="rate-button__wrap js-rate-button__wrap")
      button(class="material-icons material-icons_border js-material-icons_border") star_border
      button(class="material-icons material-icons_filled js-material-icon_filled") star
    div(class="rate-button__wrap js-rate-button__wrap")
      button(class="material-icons material-icons_border js-material-icons_border") star_border
      button(class="material-icons material-icons_filled js-material-icon_filled") star