@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"
@import "../../../assets/fonts/fonts.sass"

.gradient
  width: 0
  height: 0

.rate-buttons__name
  margin-bottom: 1.2em
  font-size: $font-small

.rate-buttons__wrapper
  display: flex

input[name="star"], input[name="stars"] 
  display: inline-block
  width: 0
  opacity: 0
  margin-left: 2px

.rate-buttons__source 
  width: 0
  height: 0
  visibility: hidden

.star 
  color: transparent
  transition: color 0.2s ease-in-out
  width: 1.5rem
  height: 1.5rem
  padding: 0.15rem

.rate-buttons__wrap
  display: flex
  flex-direction: row-reverse
  justify-content: center
  margin-right: .875rem

label:hover ~ label .star,
svg.star:hover,
input[name="star"]:focus ~ label .star,
input[name="star"]:checked ~ label .star,
input[name="stars"]:focus ~ label .star,
input[name="stars"]:checked ~ label .star  
  color: rgba(188, 156, 255, 1)
  cursor: pointer

input[name="star"]:checked + label .star,
input[name="stars"]:checked + label .star  
  animation: starred 0.5s


input[name="star"]:checked + label,
input[name="stars"]:checked + label 
  animation: scaleup 1s

@keyframes scaleup 
  from 
    transform: scale(1.2)
  to 
    transform: scale(1)

@keyframes starred 
  from 
    color: rgba(139, 164, 249, 1)
  to 
    color: rgba(188, 156, 255, 1)

// rate buttons for cards

.luxury-room__wrapper, .usual-room__wrapper
  display: flex
  align-items: center
  padding-top: 0.5rem
  padding-left: 0.7rem
  padding-bottom: 0.6rem

input[name="star-room"], input[name="stars-rooms"] 
  display: inline-block
  width: 0
  opacity: 0
  margin-left: 2px

input[name="star-room-third"],
input[name="star-room-fifth"],
input[name="star-room-sixth"],
input[name="star-room-seventh"],
input[name="star-room-eighth"],
input[name="star-room-ninth"],
input[name="star-room-tenth"],
input[name="star-room-eleventh"],
input[name="star-room-twelfth"]
  display: inline-block
  width: 0
  opacity: 0
  margin-left: 2px

.luxury-room__source, .usual-room__source 
  width: 0
  height: 0
  visibility: hidden

.luxury-room__wraps, .usual-room__wraps
  display: flex
  flex-direction: row-reverse
  justify-content: center
  margin-right: 1.25em

input[name="star-room"]:focus ~ label .star,
input[name="star-room"]:checked ~ label .star,
input[name="stars-rooms"]:focus ~ label .star,
input[name="stars-rooms"]:checked ~ label .star
  color: rgba(188, 156, 255, 1)

input[name="star-room-third"]:focus ~ label .star,
input[name="star-room-third"]:checked ~ label .star,
input[name="star-room-fifth"]:focus ~ label .star,
input[name="star-room-fifth"]:checked ~ label .star
  color: rgba(188, 156, 255, 1)

input[name="star-room-sixth"]:focus ~ label .star,
input[name="star-room-sixth"]:checked ~ label .star,
input[name="star-room-seventh"]:focus ~ label .star,
input[name="star-room-seventh"]:checked ~ label .star
  color: rgba(188, 156, 255, 1)

input[name="star-room-eighth"]:focus ~ label .star,
input[name="star-room-eighth"]:checked ~ label .star,
input[name="star-room-ninth"]:focus ~ label .star,
input[name="star-room-ninth"]:checked ~ label .star
  color: rgba(188, 156, 255, 1)

input[name="star-room-tenth"]:focus ~ label .star,
input[name="star-room-tenth"]:checked ~ label .star,
input[name="star-room-eleventh"]:focus ~ label .star,
input[name="star-room-eleventh"]:checked ~ label .star
  color: rgba(188, 156, 255, 1)  

input[name="star-room-twelfth"]:focus ~ label .star,
input[name="star-room-twelfth"]:checked ~ label .star
  color: rgba(188, 156, 255, 1) 

input[name="star-room"]:checked + label .star,
input[name="stars-rooms"]:checked + label .star
  animation: starred 0.5s

input[name="star-room-third"]:checked + label .star,
input[name="star-room-fifth"]:checked + label .star,
input[name="star-room-sixth"]:checked + label .star,
input[name="star-room-seventh"]:checked + label .star,
input[name="star-room-eighth"]:checked + label .star,
input[name="star-room-ninth"]:checked + label .star,
input[name="star-room-tenth"]:checked + label .star,
input[name="star-room-eleventh"]:checked + label .star,
input[name="star-room-twelfth"]:checked + label .star
  animation: starred 0.5s

input[name="star-room"]:checked + label,
input[name="stars-rooms"]:checked + label 
  animation: scaleup 1s

input[name="star-room-third"]:checked + label,
input[name="star-room-fifth"]:checked + label,
input[name="star-room-sixth"]:checked + label,
input[name="star-room-seventh"]:checked + label,
input[name="star-room-eighth"]:checked + label,
input[name="star-room-ninth"]:checked + label,
input[name="star-room-tenth"]:checked + label,
input[name="star-room-eleventh"]:checked + label,
input[name="star-room-twelfth"]:checked + label
  animation: scaleup 1s