form.sign-in(action="#")
    h1.sign-in__title Войти
    input(type="email" name="email" class="sign-in__input" placeholder="Email")
    input(type="password" name="password" class="sign-in__input sign-in__input_second" placeholder="Пароль")
    button(type="submit" class="sign-in__btn") Войти
    div.sign-in__wrap
      p.sign-in__text Нет аккаунта на Toxin?
      button(type="submit" class="sign-in__btn_sign-up") Создать