@import "../../../../assets/styles/__mixins.sass"
@import "../../../../assets/styles/__variables.sass"
@import "../../../../assets/styles/__tegs.sass"

.type
  display: $flex-display
  align-items: flex-start
  margin-bottom: 3.199rem

  &_first
    font-size: .75rem

    span
      margin-right: 1.9rem
      font-size: 1.375rem

  &_second
    font-size: $mediumSize

    span
      margin-right: 1.9rem

  &_third
    font-size: 0.75rem

    span
      margin-right: 1.9rem
      padding-left: .625rem

  &_fourth
    font-size: 0.87rem

    span
      margin-right: 1.9rem
      margin-left: -0.625rem

  p
    line-height: 1.3rem
    max-width: 18.8125rem

  span
    color: rgba($dark-blue, 0.25)

  h1, h2
    text-transform: none

  h2
    font-size: 1.1875rem
    max-width: 19.5rem

  h3
    font-size: .75rem