@import "../../../partials/__mixins.sass"
@import "../../../partials/__tegs.sass"
@import "../../../partials/__variables.sass"
@import "headers/headers.sass"

.header
  @include flex-between()
  @include container()
  @include header-shadow()
  align-items: center
  background-color: $white
  // border-bottom: 1px solid #E2E8F0
  padding-top: 1.0375em
  padding-bottom: 0.975em
    
  &__logo
    background: url('../img/logo.svg') no-repeat top left
    height: 3em
    width: 7.925em

  &__wrapper
    display: flex
    align-items: center
    width: 49.3rem

    &_second
      width: 40.6125rem

  &__buttons a
    text-decoration: none

  &__button
    text-transform: uppercase

.button__sign-in 
  @include ellipse-button-style-transparent()
  margin-right: 1.25em
  padding: 0.625em 1.25em

.button__sign-up
  @include ellipse-button-style-solid()
  font-weight: 700
  padding: 0.725em 1.25em

.button__sign-in:hover, .button__sign-up:hover
  @include button-hover()

// .hamburger
//   display: none

// .bar 
//   display: block
//   width: 25px
//   height: 3px
//   margin: 5px auto
//   -webkit-transition: all 0.3s ease-in-out
//   transition: all 0.3s ease-in-out
//   background-color: #101010

// responsive design

@media only screen and (max-width: 74.9988rem) //1199px
  .header
    padding: 0 calc(50% - 30rem)

@media only screen and (max-width: 60.625rem) //970px
  .header
    padding: 0 calc(50% - 27.5rem)

// @media only screen and (max-width: 55.75rem) //892px add hamburger to header