include ../../../../components/plugins/swiper/swiper.pug
include ../../../../components/buttons/rate-button/rate-button.pug

div.luxury-room
  +swiper("swiper", "luxury-room__img")(class="swiper js-swiper luxury-room__swiper")
  div.luxury-room__wrap
    h1.luxury-room__title №
      span.luxury-room__number 888
      span.luxury-room__luxury Люкс
    p.luxury-room__price 9 990&#x20bd;
      span.luxury-room__time в сутки
  div.luxury-room__wrap_border
  div.luxury-room__wrapper
    +rate-button()
    p.luxury-room__comments 145
      span.luxury-room__total-comments Отзывов