section.header__bg
  div.header__container
    include header-cards/search/search.pug
    div.header__wrap
      p.header__text Лучшие номера для вашей работы, 
      p.header__text отдыха и просто вдохновения