include ../../../../components/plugins/swiper/swiper.pug
include ../../../../components/buttons/rate-button/rate-button.pug

div.usual-room
  +swiper("swiper_second", "usual-room__img")(class="swiper js-swiper")
  div.usual-room__wrap
    h1.usual-room__title №
      span 840
    p.usual-room__price 9 990&#x20bd;
      span в сутки
  div.usual-room__wrap_border
  div.usual-room__wrapper
    +rate-button()
    p.usual-room__comments 65
      span Отзывов     