doctype html 
html
  head
    include includes/header.pug
  body 
    include pages/colors-type.pug
    include pages/form-elements.pug
    include pages/cards.pug
    include pages/headers-footers.pug