@import "../../assets/styles/__mixins.sass"
@import "../../assets/styles/__variables.sass"
@import "../../assets/styles/__tegs.sass"

.elements__comments
  padding-bottom: 131px

.comments
  margin-right: 154px

.comment
  display: flex
  align-items: center
  padding-bottom: 19px
  padding-top: 20px

  &__title
    font-weight: 700
    margin-bottom: 7px
    font-size: 16px
    text-transform: none

  &__description
    color: $dark-blue

  &__border
    height: 1px
    background-color: rgba(31, 32, 65, 0.1)
    width: 17.5rem

  &__img
    background: url('../../../assets/img/uikit/insert-emoticon.svg') no-repeat center center
    width: 3.8rem
    height: 4rem
    margin-right: 10px

  &__img_second
    background: url('../../../assets/img/uikit/location-city.svg') no-repeat center center
    width: 3.8rem
    height: 4rem
    margin-right: 10px