include ../text/text.pug

mixin comment(title, description)
  div.comment
    div(class!=attributes.class)
    div.comment__wrap
      +text("h3", "comment__title", title)
      +text("p", "comment__description", description)
  div.comment__border