include ../../plugins/swiper/swiper.pug
include ../../buttons/rate-button/rate-button.pug
include ../../text/text.pug

mixin luxury-room(number, price, comments, swiperImgClass)
  div.luxury-room
    +swiper("swiper", swiperImgClass)(class="swiper js-swiper luxury-room__swiper")
    div.luxury-room__wrap
      +text("h1", "luxury-room__title", "№")
      +text("h3", "luxury-room__number", number)
      +text("h3", "luxury-room__luxury", "Люкс")
      +text("p", "luxury-room__price", price)
      +text("span", "luxury-room__time", "в сутки")
    div.luxury-room__wrap_border
    div.luxury-room__wrapper
      +rate-button()
      +text("p", "luxury-room__comments", comments)
      +text("span", "luxury-room__total-comments", "Отзывов")