div.filter-result__wrap
  h2.filter-result__title Номера, которые мы для вас подобрали
  div.filter-result__page
    include filter-card/filter-card.pug 
  include pagination/pagination.pug
  +pagination()