@import "pagination/pagination.sass"
@import "filter-card/filter-card.sass"

.filter-result
  &__title
    text-transform: none
    font-size: 1.5rem
    color: #1F2041
    margin-bottom: 1.375rem

  &__wrap
    padding-left: 2.8125rem

  &__page
    display: grid
    grid-template-columns: 1fr 1fr 1fr