div.cards
  form.rooms(action="#")
    h1.rooms__title Найдём номера под ваши пожелания
    div.rooms__date
      h3.rooms__info прибытие
      input(type='text' name='date' class='rooms__datepick')  
  form.registration(action="#")
  form.book(action="#")
  form.sign-in(action="#")
  form.calendar(action="#")
  form.luxury-room(action="#")
  form.usual-room(action="#")       