div.headers
  div.header
    div.header__logo
    div.header__wrapper
      nav.header__nav 
        ul.header__menu 
          li
            a(href="#" class="header__item") О нас
          li
            a(href="#" class="header__item") Услуги
          li
            a(href="#" class="header__item") Вакансии
          li
            a(href="#" class="header__item") Новости
          li
            a(href="#" class="header__item") Соглашения
      div.header__buttons
        button(class="header__button button__sign-in") Войти
        button(class="header__button button__sign-up") Зарегистрироваться
  div.header
    div.header__logo
    div.header__wrapper
      nav.header__nav 
        ul.header__menu 
          li
            a(href="#" class="header__item") О нас
          li
            a(href="#" class="header__item") Услуги
          li
            a(href="#" class="header__item") Вакансии
          li
            a(href="#" class="header__item") Новости
          li
            a(href="#" class="header__item") Соглашения
      p.header__username Юлий Цезарь  