mixin toggle-button()
  div.toggle-buttons__wrap
    input(type="checkbox" name="news" value="Получать спецпредложения" id="toggle").toggle-buttons__field
    label(for="toggle" class="toggle__text") Получать спецпредложения