mixin fontawesome()
  a(href="https://www.twitter.com" target="_blank" rel="noreferrer").fontawesome
    i(class="fab fa-twitter fontawesome__icon")
  a(href="https://www.facebook.com" target="_blank" rel="noreferrer").fontawesome
    i(class="fab fa-facebook-square fontawesome__icon")
  a(href="https://www.instagram.com" target="_blank" rel="noreferrer").fontawesome
    i(class="fab fa-instagram fontawesome__icon")