mixin fontawesome()
  a(href="https://www.twitter.com" target="_blank")
    i(class="fab fa-twitter")
  a(href="https://www.facebook.com" target="_blank")
    i(class="fab fa-facebook-square")
  a(href="https://www.instagram.com" target="_blank")
    i(class="fab fa-instagram")