mixin checkbox-button(title, name, description)
  div.checkbox-button
    label.checkbox-button__field
      input(type="checkbox" name=name).checkbox-button__input
      span.checkbox-button__option
      div.checkbox-button__wrap
        p(class!=attributes.class)= title
        p.checkbox-button__description= description