@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"

.checkbox-button
  margin-bottom: 3rem
  
  &__name
    font-size: 14px
    margin-bottom: 22px

  &__item
    display: flex
    margin-bottom: 1.1rem

  &__field
    position: absolute
    z-index: -1
    opacity: 0

  &__option
    color: $dark-blue
    margin-left: 3px
    align-items: center
    display: flex
    max-width: 15rem

.checkbox-button__field:checked, 
.checkbox-button__field:not(:checked)
  position: absolute
  left: -9999px


.checkbox-button__field:checked + label, 
.checkbox-button__field:not(:checked) + label
  display: inline-block
  position: relative
  padding-left: 26px
  line-height: 20px
  cursor: pointer

.checkbox-button__field:checked + label:before, 
.checkbox-button__field:not(:checked) + label:before
  content: ''
  position: absolute
  left: 0px
  top: 0px
  width: 18px
  height: 18px
  border: 1px solid #dddddd
  background-color: rgba(255, 255, 255, 1)

.checkbox-button__field:checked + label:before, 
.checkbox-button__field:not(:checked) + label:before 
  border-radius: 4px
  border: 1px solid $purple

.checkbox-button__field:checked + label:after, 
.checkbox-button__field:not(:checked) + label:after
  content: ''
  position: absolute
  transition: all 0.2s ease

.checkbox-button__field:checked + label:after, 
.checkbox-button__field:not(:checked) + label:after 
  position: absolute
  content: ''
  background: url('../../../assets/img/uikit/tick.svg') no-repeat center center
  left: 4px
  top: 5px
  width: 10px
  height: 8px

.checkbox-button__field:not(:checked) + label:after
  opacity: 0

.checkbox-button__field:checked + label:after
  opacity: 1