include ../buttons/like-button/like-button.pug
include ../text/text.pug

mixin feedback(username, time, text)
  div.feedback
    div.feedback__info
      div.feedback__img
      div.feedback__wrapper
        +text("p", "feedback__username", username)
        +text("p", "feedback__time", time)
    div.feedback__wrap
      +like-button("like-button_third-like-button js-like-button_third-like-button", "like-button__heart_third js-like-button__heart_third", "like-button__counter_third-like-button js-like-button__counter_third-like-button")
      +text("p", "feedback__text", text)