@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"

@import "../../../components/cards/book/book.sass"
@import "../../../components/cards/luxury-room/luxury-room.sass"
@import "../../../components/cards/usual-room/usual-room.sass"
@import "../../../components/cards/registration/registration.sass"
@import "../../../components/cards/rooms/rooms.sass"
@import "../../../components/cards/sign-in/sign-in.sass"

@import "../../../components/plugins/datepicker/datepicker.sass"

.cards
  @include container()
  max-width: 1314px
  display: flex
  flex-wrap: wrap
  background-color: $grey
  padding-top: 150px
  margin-bottom: 140px
  background: url('../../../assets/img/uikit/group.svg') no-repeat top left

  &__wrapper
    order: 2

.rooms, .registration, .book, .sign-in
  background-color: $white
  border-radius: 4px
  padding: 3rem 1rem 2rem 2rem
  @include shadows-wide()

// luxury room card
.luxury-room, .usual-room
  background-color: $white
  border-radius: 4px
  width: 19rem
  height: 19rem
  order: 2
  @include shadows-wide()