.bullet-list
  &__title
    font-size: .85rem
    margin-bottom: 1.4em

  &__wrap
    display: flex
    align-items: baseline
    margin-bottom: 1.2em

  &__design
    border-radius: 50%
    background-color: $light-blue
    margin-right: 0.725em
    width: .625rem
    height: .625rem

  &__bullet
    padding-left: 1.1875rem

  &__item
    color: $dark-blue
    display: flex
    flex-direction: row
    align-items: center
    max-width: 16.75rem
    line-height: 1.6em
    position: relative
    margin-bottom: 1rem

    &:nth-child(3)
      width: 17.0625rem
      line-height: 1.6em

    &::after
      content: ""
      position: absolute
      top: 0.35rem
      left: -1.2rem
      width: 0.725rem
      height: 0.725rem
      background-color: rgba(31, 32, 65, 0.25)
      border-radius: 50%