include ../../../components/headers/headers.pug
include ../../../components/footers/footers.pug
include ../../../components/inputs/regular-input/regular-input.pug
include ../../../components/fontawesome/fontawesome.pug

// headers
div.headers
  div.header
    div.header__logo
    div.header__wrapper
      +header("О нас", "Услуги", "Вакансии", "Новости", "Соглашения")
      div.header__buttons
        button(type="submit" class="header__button button__sign-in") Войти
        button(type="submit" class="header__button button__sign-up") Зарегистрироваться
  div.header
    div.header__logo
    div.header__wrapper.header__wrapper_second
      +header("О нас", "Услуги", "Вакансии", "Новости", "Соглашения")
      div.header__vertical-line
      p.header__username Юлий Цезарь
// footers
div.footers
  div.footer
    div.footer__nav
      div.footer__wrap
        div.footer__logo
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      +footerList("Навигация", "О нас", "Новости", "Служба поддержки", "Услуги")
      +footerList("О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы")
      +footerList("Служба поддержки", "Соглашения", "Сообщества", "Связь с нами")
      div.footer__wrap
        h3.footer__title Подписка
        p.footer__text Получайте специальные предложения и новости сервиса
        div.footer__input-wrap
          +input("email", "email", "Email")(class="footer__input")
    div.footer__copyright
      p.footer__copy Copyright © 2018 Toxin отель. Все права защищены.
      div.footer__wrapper
        // fontawesome
        +fontawesome()
  div(class="footer footer_center")
    div(class="footer__logo footer__logo_center")
    p(class="footer__text footer__text_center") Copyright © 2018 Toxin отель. Все права защищены.
    // fontawesome
    div.footer__wrapper_center
      +fontawesome()