include ../../../../components/info/info.pug
include comments/comment.pug
include ../../../../components/bullet-list/bullet-list.pug
include ../../../../components/plugins/graph/graph.pug

div.main
  div.main__wrap
    div.main__wrapper
      div.main__wrapper_additional
        div.main__info
          h3.main__title Сведения о номере
          +info("Комфорт", "Шумопоглащающие стены")(class="info__img")
          +info("Удобство", "Окно в каждой из спален")(class="info__img_second")
          +info("Уют", "Номер оснащён камином")(class="info__img_third")
        div.main__graph
          h3.main__title Впечатления от номера
          +graph()
    div.main__comments
      h3.main__title.main__title_bigger-margin Отзывы посетителей номера
        span 2 отзыва
      +comment("comment__img", "Мурад Сарафанов", "5 дней назад", 
      "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
      "one", "heart", "heartEX", "heart", "like-buttons__counter")(class="like-buttons__border")
      +comment("comment__img_second", "Патрисия Стёклышкова", "Неделю назад", 
      "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
      "two", "heart-two", "heartEX-two", "heart-two", "like-buttons__counter_second-like-button")(class="like-buttons__border_second-like-button")
    div.main__wrapper
      div.main__wrapper_additional
        div.main__rules
          h3.main__title.main__title_additional-margin Правила
          +bullet-list("Нельзя с питомцами")
          +bullet-list("Без вечеринок и мероприятий")
          +bullet-list("Время прибытия — после 13:00, а выезд до 12:00")
        div.main__cancel
          h3.main__title Отмена
          p.main__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
  div.main__wrap
    include card/card-book.pug