@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"

.toggle-button
  margin-bottom: 3.2rem

  &__wrap
    margin-bottom: 1.6rem
    display: flex
    justify-content: space-between
    cursor: pointer

  &__name
    font-size: 14px
    margin-bottom: 20px

  &__field 
    position: relative
    width: 2.9rem
    height: 1.45rem
    margin: 0
    vertical-align: top
    background: transparent
    border: 1px solid $light-blue
    border-radius: 30px
    outline: none
    cursor: pointer
    @include no-item()
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2)

    &::after 
      content: ''
      position: absolute
      left: 4px
      top: 3px
      width: 0.9rem
      height: 0.9rem
      background-color: $light-blue
      border-radius: 50%
      transform: translateX(0)
      transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2)

    &:checked::after 
      transform: translateX(calc(100% + 0.4375em))
      border-color: #bc9cff
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
      background-size: 100%

    &:checked 
      border-color: $purple

  &__text
    color: $dark-blue
    margin-left: 7px