mixin toggle-button()
  div.toggle-button__wrap
    input(type="checkbox" name="news" value="Получать спецпредложения" id="toggle").toggle-button__field
    label(for="toggle" class="toggle-button__text") Получать спецпредложения