include ../../text/text.pug

mixin toggle-button(name, value)
  label.toggle-button
    input(type="checkbox" name=name value=value).toggle-button__field
    +text("span", "toggle-button__text", "Получать спецпредложения")
    //- span(class="toggle-button__text")   Получать спецпредложения