mixin toggle-button(id)
  div.toggle-button__wrap
    input(type="checkbox" name="news" value="Получать спецпредложения" id=id).toggle-button__field
    label(for=id class="toggle-button__text") Получать спецпредложения