section.filter
  h3.filter__title Даты пребывания в отеле
  input(type="text" name="date" placeholder="19 авг - 23 авг" id="datepicker-here")
  h3.filter__title Гости
  include ../../../landing-page/header/header-main/header-cards/plugins/item-quantity-dropdown/item-quantity-dropdown.pug
  +item-quantity-dropdown("iqdropdown-second", "Взрослые", "Дети", "Младенцы")
    div(class="iqdropdown-menu-btn-wrap")
      a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear" id="iqdropdown-btn-clear") Очистить
      a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm" id="iqdropdown-btn-confirm") Применить
  h3.filter__title Диапазон цены
  include filter-plugins/range-slider/range-slider.pug
  +range-slider()
  h3.filter__title Правила дома
  include filter-buttons/checkbox-button/checkbox-button.pug
  +checkbox-button("checkbox", "Можно курить")
  +checkbox-button("checkbox-second", "Можно с питомцами")
  +checkbox-button("checkbox-third", "Можно пригласить гостей (до 10 человек)") 
  h3.filter__title Доступность
  +checkbox-button("checkbox-fourth", "Широкий коридор")
  p.filter__text Ширина коридоров в номере не менее 91 см.
  +checkbox-button("checkbox-fifth", "Помощник для инвалидов")
  p.filter__text На 1 этаже вас встретит специалист  и проводит до номера.
  h3.filter__title Удобства номера
  +item-quantity-dropdown("iqdropdown-sixth", "Спальни", "Кровати", "Ванные комнаты")
  div.filter__checkbox-list Дополнительные удобства
    i.filter__checkbox-list-arrow_first
    include filter-buttons/expandable-checkbox-list/expandable-checkbox-list.pug
    +expandable-list("Завтрак", "filter")(class="filter__checkbox filter__checkbox_first")
    +expandable-list("Письменный стол", "filter_second")(class="filter__checkbox filter__checkbox_second")
    +expandable-list("Стул для кормления", "filter_third")(class="filter__checkbox filter__checkbox_third")
    +expandable-list("Кроватка", "filter_fourth")(class="filter__checkbox filter__checkbox_fourth")
    +expandable-list("Телевизор", "filter_fifth")(class="filter__checkbox filter__checkbox_fifth")
    +expandable-list("Шампнуь", "filter_sixth")(class="filter__checkbox filter__checkbox_sixth")