@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"
@import "../../../components/colors/colors.sass"
@import "../../../components/type/type.sass"

.wrapper
  @include flex-between()
  @include container()
  padding-top: 134px

.logo
  background: #ffffff url('../../../assets/img/uikit/group.svg') no-repeat top left

.colors__wrap
  display: flex
  flex-direction: column
  justify-content: space-between

.types
  max-width: 29rem