include colors/colors.pug
include type/type.pug

// цвета
div.logo 
  div.wrapper
    div.colors
      +colors("Dark Shade 100%", "#1F2041")(class="rectangle rectangle_first")
      +colors("Dark Shade 75%", "#1F2041")(class="rectangle rectangle_second")
      +colors("Dark Shade 50%", "#1F2041")(class="rectangle rectangle_third")
      +colors("Dark Shade 25%", "#1F2041")(class="rectangle rectangle_fourth")
      +colors("Dark Shade 5%", "#1F2041")(class="rectangle rectangle_fifth")
      +colors("Purple", "#BC9CFF")(class="rectangle rectangle_sixth")
      +colors("Green", "#6FCF97")(class="rectangle rectangle_seventh")
        // шрифты, заголовки
    div.titles
      +titles("H1")(class="title title_first")
        h1.title__name This one is the sub-section or widget title
      +titles("H2")(class="title title_second")
        h2.title__name Next one is the item title inside widgets
      +titles("H3")(class="title title_third")
        h3.title__name This is a label or CTA text
      +titles("Body")(class="title title_fourth")
        p.title__name This is the body text which is used for most of the design, like paragraphs, lists, etc.