extends ../../../layout/page.pug
block content
  include ../../../components/colors/colors.pug
  include type/type.pug

  // цвета
  div.logo 
    div.wrapper
      div.colors__wrap
        +colors("Dark Shade 100%", "#1F2041")(class="colors__rectangle colors__rectangle_first")
        +colors("Dark Shade 75%", "#1F2041")(class="colors__rectangle colors__rectangle_second")
        +colors("Dark Shade 50%", "#1F2041")(class="colors__rectangle colors__rectangle_third")
        +colors("Dark Shade 25%", "#1F2041")(class="colors__rectangle colors__rectangle_fourth")
        +colors("Dark Shade 5%", "#1F2041")(class="colors__rectangle colors__rectangle_fifth")
        +colors("Purple", "#BC9CFF")(class="colors__rectangle colors__rectangle_sixth")
        +colors("Green", "#6FCF97")(class="colors__rectangle colors__rectangle_seventh")
          // шрифты, заголовки
      div.types
        +type("H1")(class="type type_first")
          h1.type__name.type__name_first This one is the sub-section or widget title
        +type("H2")(class="type type_second")
          h2.type__name.type__name_second Next one is the item title inside widgets
        +type("H3")(class="type type_third")
          h3.type__name.type__name_third This is a label or CTA text
        +type("Body")(class="type type_fourth")
          p.type__text This is the body text which is used for most of the design, like paragraphs, lists, etc.