doctype html 
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="Ui-kit")
    meta(name="keywords", content="metalamp, toxin, ui-kit")
    link(href="index.sass")
    title Preview page
  body
    - var pages = {'Colors-Types': 'colors-type-dev.html', 'Form-elements': 'form-elements-dev.html', 'Cards': 'cards-dev.html', 'Headers-Footers': 'headers-footers-dev.html', 'Filter': 'filter-dev.html', 'Landing-page': 'landing-page-dev.html', 'Registration': 'registration-dev.html', 'Room-details': 'room-details-dev.html', 'Sign-in': 'sign-in-dev.html'}
    div.preview
      each val, key in pages 
        a(href=val class="preview__link")= key