@import "../../../assets/styles/__mixins.sass"
@import "../../../assets/styles/__variables.sass"
@import "../../../assets/styles/__tegs.sass"

.solid-big-button
  padding: 16px 85px
  border-radius: 28px
  @include button-style()
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%)
  font-size: 14px
  color: $white
  position: relative
  margin-bottom: 6px
  width: 23rem

  &::after
    @include arrow-right($color: #ffffff)
    margin-bottom: 5px
    
  &:hover
    @include button-hover()