div.cards
  // rooms
  include card-room/card-room.pug
  // registration
  include card-registration/card-registration.pug    
  // book
  include card-book/card-book.pug
  // sign-in
  include card-sign-in/card-sign-in.pug
  // calendar
  div#datepicker-calendar
  // luxury room
  include card-luxury-room/card-luxury-room.pug
  // usual room
  include card-usual-room/card-usual-room.pug  