@import "__mixins.sass"
@import "__variables.sass"
@import "../fonts/fonts.sass"

html
  font-family: 'Montserrat'
  font-size: 0.87rem
  color: $dark-blue

body 
  @include zero-offset()
  height: 100%
  background-color: #fff
  overflow-x: hidden

div, p, form, input, a, span, button 
  box-sizing: border-box

p
  @include zero-offset()

ul, li 
  display: block
  @include zero-offset()

h1, h2, h3, h4, h5, h6 
  @include zero-offset()
  font-weight: 700
  text-transform: uppercase

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active 
  outline: none

input:focus, input:focus-within, input:focus-visible
  border: 1px solid $medium-blue
  color: $medium-blue

input, input:hover, input:focus, input:active
  border: 1px solid $medium-blue
  color: $medium-blue
  cursor: pointer

button, button:hover, button:focus, button:active 
  cursor: pointer

button:focus, button:focus-within, button:focus-visible
  opacity: 0.7
  transition: all 0.2s ease