mixin footer-list(title, list)
  ul(class="footer-list footer-list_showed")
    li.footer-list__header= title
      each item in list
        li.footer-list__item 
          a(href="/mock-address/change-me" class="footer-list__link")= item