@import "../../../../../assets/styles/__mixins.sass"
@import "../../../../../assets/styles/__tegs.sass"
@import "../../../../../assets/styles/__variables.sass"


.filter
  &__wrapper
    margin-bottom: 2.2rem
    width: 90%
    
    &_last
      margin-bottom: 1.9rem

      .checkbox-button__item .checkbox-button__option
        font-weight: 700

  &__title
    font-size: 14px
    text-transform: uppercase
    color: #1F2041
    margin-bottom: 5px

    &_below
      margin-bottom: 1rem

  &__input
    @include input-style()
    padding: 13px 40px 16px 14px

  &__text
    color: $medium-blue
    font-size: 12px
    margin-left: 2rem
    margin-bottom: 1rem
    width: 70%

  &__rules
    font-size: $font-small
    color: $medium-blue
    margin-top: 1.3rem