mixin header-list(list)
  nav.header-list 
    ul.header-list__menu 
      each item, index in list
        li.header-list__item
          a(href="/mock-address/change-me" class="header-list__link header-list__link_"+index)= item