@import "../../../../assets/styles/__mixins.sass"
@import "../../../../assets/styles/__tegs.sass"
@import "../../../../assets/styles/__variables.sass"

@import "registration-card/card-registration.sass"

.header
  &__bg-registration
    background: url('../../../assets/img/website/bg-reg.jpeg') no-repeat center center
    padding: 1.1875rem 0
    flex: 1 0 auto

@media only screen and (max-width: 29.375rem) //470px
  .header
    &__bg-registration
      height: 44.9375rem